* {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
}

#mapid {
    height: 100vh;
    z-index: 1;
    position: absolute;
    left: 0px;
    right: 0px;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    z-index: 10;
    align-self: center;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
